%% -*- erlang -*-
{erl_opts, [ debug_info ]}.
{deps, [ {stdlib2,           ".*", {git, "https://github.com/djui/stdlib2",            "fb63151cab"}}
       , {tulib,             ".*", {git, "https://github.com/djui/tulib",              "265c7f4453"}}
       , {ehf,               ".*", {git, "https://github.com/djui/ehf",                "e89621de72"}}
       , {lager,             ".*", {git, "https://github.com/djui/lager",              "e58a33d095"}}
       , {erlang_protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs", "8a42ff0f90"}}
       ]}.
