%% -*- erlang -*-
{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.
{deps, [ {stdlib2,    ".*", {git, "https://github.com/djui/stdlib2"           }}
       , {tulib,      ".*", {git, "https://github.com/djui/tulib"             }}
       , {ehf,        ".*", {git, "https://github.com/djui/ehf"               }}
       , {lager,      ".*", {git, "https://github.com/djui/lager"             }}
       , {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs"}}
       , {eleveldb,   ".*", {git, "https://github.com/basho/eleveldb"         }}
       ]}.
