%% -*- erlang -*-
{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.
{deps, [ {stdlib2,    ".*", {git, "https://github.com/djui/stdlib2",            "fb63151cab"}}
       , {tulib,      ".*", {git, "https://github.com/djui/tulib",              "265c7f4453"}}
       , {ehf,        ".*", {git, "https://github.com/djui/ehf",                "b4dae20163"}}
       , {lager,      ".*", {git, "https://github.com/djui/lager",              "e58a33d095"}}
       , {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs", "8a42ff0f90"}}
       ]}.
