%% -*- erlang -*-
[ {raft, [ {nodes,        [ 'raft1@127.0.0.1'
                          , 'raft2@127.0.0.1'
                          , 'raft3@127.0.0.1'
                          ]}
         , {timeout,      150}
         , {net_handler,  raft_net_erl_dist}
         , {net_tcp,      [ {port, 4726} ]}
         , {net_erl_dist, [ ]}
         , {log_handler,  raft_log_disk_log}
         , {log_disk_log, [ {dir, "log"}
                          ]}
         , {log_leveldb,  [ ]}
         , {log_mem,      [ ]}
         , {msg_handler,  raft_msg_erl_term}
         , {msg_erl_term, [ {compressed, true}
                          ]}
         , {msg_protobuf, [ ]}
         , {msg_json,     [ ]}
         ]}
, {sasl, [ {sasl_error_logger,        {file, "log/sasl-error.log"}}
         , {errlog_type,              error}
         , {error_logger_mf_dir,      "log/sasl"}
         , {error_logger_mf_maxbytes, 10485760}
         , {error_logger_mf_maxfiles, 5}
         ]}
, {kernel, [ {dist_auto_connect, never}
           ]}
].
